@use '../abstracts/mixins' as *;

.rating-wrapper {
  --rating-width: 33rem;
  --rating-bg-color: var(--clr-neutral-dark-blue);
  --rating-radius: 15px;
  --rating-padding: 2.5rem;
  --rating-line-height: 1.5;
  --rating-row-gap: 2rem;
}

.rating,
.success {
  max-width: var(--rating-width);
  background-color: var(--rating-bg-color);
  border-radius: var(--rating-radius);
  padding: var(--rating-padding);
  line-height: var(--rating-line-height);
  row-gap: var(--rating-row-gap);
}

.rating__title,
.success__title {
  font-size: var(--fs-title);
  color: var(--clr-neutral-white);
  font-weight: var(--fw-700);
}

.rating__about,
.success__about {
  font-size: var(--fs-paragraph);
  color: var(--clr-neutral-light-grey);
  max-width: 33ch;
}

.rating {
  display: grid;
  row-gap: var(--rating-row-gap);

  &__count {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.rating-form {
  display: grid;
}

.success {
  display: none;
  text-align: center;

  max-width: var(--rating-width);

  &__img {
    max-width: 150px;
    justify-self: center;
  }

  &__info {
    color: var(--clr-prim-orange);
    background-color: var(--clr-bg-star);
    padding: 0.5rem 2rem;
    border-radius: 30px;
    width: max-content;
    justify-self: center;
    font-size: 1.3rem;

    display: grid;
    place-content: center;
  }
}

.rating.rating--hide {
  display: none;
}

.success.success--show {
  display: grid;
}
